<div class="stockQuery">
	<meta charset="utf-8">
	<title>stockQuery</title>
	<link rel="stylesheet" type="text/css" href="../static/stock.css">
	<p><strong>第一个功能：查询指定股票的信息<strong></p>
	<hr />
	<li>插入一个表单</li>
	<br />
	<form action="../index.py" method="get">
	请输入起始日期： <input type="date" name="start_time" value="2015-09-24" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	请输入终止日期： <input type="date" name="end_time" value="2015-09-24" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	请输入股票代码： <input type="text" name="stock_code" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="submit" value="Submit" />
</form>
</div>